.notification {
  position: fixed;
  z-index: 1100;
  top: 20px;
  right: 20px;
  padding: var(--space-12) var(--space-24);
  font-weight: var(--font-weight-bold);
  color: var(--color-btn-primary-text);
  background-color: var(--color-primary);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  animation: notification-slide-in 0.3s ease-out;
}

@keyframes notification-slide-in {
  from {
    translate: 100% 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes notification-slide-out {
  from {
    translate: 0 0;
    opacity: 1;
  }
  to {
    translate: 100% 0;
    opacity: 0;
  }
}
