.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  width: 100%;
  max-width: calc(1600px + (16px * 2));
  margin-inline: auto;
  padding-inline: var(--space-16);
}

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
